.busca {

    position: absolute;
    left: 4px;
    top: -20px;

}

.botaoBusca {

    position: absolute;
    width: 77px;
    height: 47px;
    left: 219px;
    top: 111px;
    
    background: #00285F;
    border-radius: 0px 5px 5px 0px;

}

.textoBotaoBusca {

    position: absolute;
    width: 55px;
    height: 16px;
    left: 233px;
    top: 123px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;

}

.inputBusca {
    
    position: absolute;
    width: 199px;
    height: 40px;
    left: 12px;
    top: 112px;

    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;

}
